<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="QuanLySieuThi"
         connectionString="Server=W-AN\SQLEXPRESS;Database=QuanLySieuThi;Integrated Security=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

